<div class="container">
  <h1>Listings</h1>
  <div class="container">
    <% @listings.each do |listing| %>
      <% if listing.photos.attached? %>
        <%= cl_image_tag listing.photos.sample.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    <ul>
      <li><%= link_to listing.name, listing_path(listing) %></li>
      <li>$<%= listing.price %></li>
      <li><%= listing.location %></li>
      <li>For: <%= listing.guest %> <%= listing.guest > 1 ? 'people' : 'person' %></li>
    </ul>
    <% end %>
  </div>
</div>
